@import "tailwindcss";
@import 'remark-github-blockquote-alert/alert.css';
@import './fonts.css';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --font-article: 'Linden Hill', Palatino, serif;
  --font-decoration: Jost, Futura, sans-serif;
}

@layer base {
  :root,
  html[data-theme="light"] {
    --background: #fdfdfd;
    --foreground: #282728;
    --accent: #2e00d2;
    --muted: #6e6e6e;
    --border: #1a0079;
  }

  html[data-theme="dark"] {
    --background: #212529;
    --foreground: #d9d9db;
    --accent: #ff6b01;
    --muted: #9da0a8;
    --border: #ab4b08;
  }

  * {
    @apply border-box;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply min-h-svh flex-col font-article bg-background text-foreground;
  }
  header,
  footer {
    @apply font-decoration text-sm;
  }
  a {
    @apply break-words hover:text-accent hover:underline hover:decoration-wavy;
  }
  hr {
    @apply border-border;
  }

  h1 {
    @apply text-3xl my-8 font-bold relative;
  }
  h1::before {
    content: 'â§';
    @apply absolute -z-10 -top-20 text-muted font-normal text-[6em] opacity-20;
  }
  h2 {
    @apply text-2xl my-6 font-bold border-b;;
  }
  h3 {
    @apply text-xl my-6 font-bold italic;
  }
  h4 {
    @apply text-lg my-4;
  }

  p {
    @apply my-4 leading-6;
  }

  ul {
    @apply list-disc pl-6 my-6;
  }
  ul ul {
    @apply list-[circle];
  }
  ul ul ul {
    @apply list-[square];
  }
  ol {
    @apply list-decimal pl-6 my-6;
  }
  ol ol {
    @apply list-[lower-alpha];
  }
  ol ol ol {
    @apply list-[lower-roman];
  }
  li {
    @apply my-2;
  }
  ul > li::marker,
  ol > li::marker {
    @apply text-accent;
  }

  blockquote {
    @apply border-l-4 border-accent pl-4 italic my-4;
  }
  code {
    @apply bg-muted/20 p-1 text-sm;
  }
  pre {
    @apply border border-border my-4 p-2 rounded-md;
  }

  table {
    @apply block my-6 text-sm mx-auto whitespace-nowrap overflow-x-auto max-w-fit;
    th, td {
      @apply border border-border p-2;
    }
    code {
      @apply text-xs break-all sm:break-normal;
    }
  }

  img {
    @apply my-8 border border-border;
  }
  figure {
    @apply my-8;
  }
  figcaption {
    @apply text-sm text-muted mt-2;
  }
}

@layer components {
  article a {
    @apply break-words underline decoration-1 decoration-dashed underline-offset-4 hover:text-accent hover:decoration-wavy;
  }

}

@layer utilities {
  .max-w-app {
    @apply max-w-3xl;
  }

  .katex-display {
    @apply text-foreground;
  }

  .active {
    @apply border-b-[5px] border-solid -mb-[5px];
  }

  .markdown-alert-title {
    @apply my-0;
  }

  .crop-h {
    @apply absolute -z-10 inset-x-8 top-12 bottom-12 border-y;
  }
  .crop-v {
    @apply absolute -z-10 inset-y-8 left-12 right-12 border-x;
  }
  .crop-c {
    @apply absolute -z-10 inset-10 border-16 border-background;
  }

  /* ===== Code Blocks & Syntax Highlighting ===== */
  .astro-code code {
    @apply bg-inherit p-0;
  }
  html[data-theme="light"] .astro-code {
    @apply bg-(--shiki-light-bg) text-(--shiki-light) [&_span]:text-(--shiki-light);
  }

  html[data-theme="dark"] .astro-code {
    @apply bg-(--shiki-dark-bg) text-(--shiki-dark) [&_span]:text-(--shiki-dark);
  }
}
