@import "tailwindcss";
@import 'remark-github-blockquote-alert/alert.css';
@import './fonts.css';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --font-article: var(--font-libertinus), serif;
  --font-decoration: var(--font-jost), sans-serif;
  --font-kai: "Georgia", "SimKai", "KaiTi", "Kaiti SC", serif;
}

@layer base {
  :root,
  html[data-theme="light"] {
    --background: #fdfdfd;
    --foreground: #282728;
    --accent: #2e00d2;
    --muted: #6e6e6e;
    --border: #1a0079;
  }

  html[data-theme="dark"] {
    --background: #212529;
    --foreground: #d9d9db;
    --accent: #ff6b01;
    --muted: #9da0a8;
    --border: #ab4b08;
  }

  html {
    @apply overflow-y-auto scroll-smooth;
  }
  body {
    @apply
      min-h-dvh relative flex flex-col bg-background text-foreground
      md:px-8 md:py-8
      lg:min-h-[calc(100dvh-2rem)] lg:mx-[calc((100vw-62rem)/2)] lg:my-4;
  }
  main {
    @apply font-article;
  }
  header,
  footer {
    @apply font-decoration text-sm;
  }
  a {
    @apply break-words hover:text-accent hover:underline hover:decoration-wavy;
  }
  hr {
    @apply border-muted;
  }
  article {
      @apply my-8 tracking-wide
  }

  h1 {
    @apply text-3xl my-8 font-bold relative;
  }
  h1::before {
    content: 'â§';
    @apply absolute -z-10 -top-20 text-muted font-normal text-[6em] opacity-20;
  }
  h2 {
    @apply text-2xl my-6 font-bold border-b border-muted border-dashed;
  }
  h3 {
    @apply text-xl my-6 font-bold italic;
  }
  h4 {
    @apply text-lg my-4;
  }

  p {
    @apply my-4 leading-6;
  }

  ul {
    @apply list-disc pl-6 my-6;
  }
  ul ul {
    @apply list-[circle];
  }
  ul ul ul {
    @apply list-[square];
  }
  ol {
    @apply list-decimal pl-6 my-6;
  }
  ol ol {
    @apply list-[lower-alpha];
  }
  ol ol ol {
    @apply list-[lower-roman];
  }
  li {
    @apply my-2;
  }
  ul > li::marker,
  ol > li::marker {
    @apply text-accent;
  }

  blockquote {
    @apply border-l-4 border-accent pl-4 italic my-4;
  }
  code {
    @apply bg-muted/20 p-1 text-sm tracking-normal;
  }
  pre {
    @apply border border-border my-4 p-2 rounded-md;
  }

  table {
    @apply block my-6 text-sm mx-auto whitespace-nowrap overflow-x-auto max-w-fit;
    th, td {
      @apply border border-border p-2;
    }
    code {
      @apply text-xs break-all sm:break-normal;
    }
  }

  img {
    @apply mx-auto my-8 border border-border;
  }
  figure {
    @apply mx-auto my-8;
  }
  figcaption {
    @apply text-sm text-muted mt-2;
  }
}

@layer components {
  main a {
    @apply break-words underline decoration-1 decoration-dashed underline-offset-4 hover:text-accent hover:decoration-wavy;
  }
}

@layer utilities {
  .max-w-app {
    @apply max-w-4xl;
  }

  .katex-display {
    @apply text-foreground;
  }

  .active {
    @apply border-b-[5px] border-solid -mb-[5px];
  }

  .markdown-alert-title {
    @apply my-0;
  }
  /* ==== paged.js style ==== */
  .crop-h {
    @apply hidden md:block absolute -z-10 top-12 bottom-12 left-0 right-0 border-y border-foreground;
  }
  .crop-v {
    @apply hidden md:block absolute -z-10 top-0 bottom-0 left-12 right-12 border-x border-foreground;
  }
  .crop-c {
    @apply hidden md:block absolute -z-10 border-background top-6 left-6 right-6 bottom-6 border-[1.75rem];
  }

  /* ===== Code Blocks & Syntax Highlighting ===== */
  .astro-code code {
    @apply bg-inherit p-0;
  }
  html[data-theme="light"] .astro-code {
    @apply bg-(--shiki-light-bg) text-(--shiki-light) [&_span]:text-(--shiki-light);
  }

  html[data-theme="dark"] .astro-code {
    @apply bg-(--shiki-dark-bg) text-(--shiki-dark) [&_span]:text-(--shiki-dark);
  }
}
