---
import { SITE } from '@/config';
const currentPath = Astro.url.pathname;
---

<header class="max-w-app mx-auto px-4 pt-4 w-full">
  <nav class="border-b">
    <div class="flex justify-between">
      <div class="text-xl">
        <a href="/">{SITE.title}</a>
      </div>
      <div class="flex gap-4">
        <span class={currentPath === "/about" ? "active" : ""}>
          <a href="/about">About</a>
        </span>
        <span class={currentPath.startsWith("/blog") ? "active" : ""}>
          <a href="/blog">Blog</a>
        </span>
        <span class={currentPath === "/archives" ? "active" : ""}>
          <a href="/archives">Archives</a>
        </span>
        <button id="theme-btn" aria-label="auto" class="flex">
          <span class="inline dark:hidden">&olcir;</span>
          <span class="hidden dark:inline">&ofcir;</span>
        </button>
      </div>
    </div>
  </nav>
</header>
