---
const currentPath = Astro.url.pathname;
---

<header class="max-w-app mx-auto px-4">
  <nav class="pt-4 border-b">
    <div class="flex justify-between">
      <div class="text-xl">
        <a href="/">LOGO</a>
      </div>
      <div class="flex gap-4">
        <span class={currentPath === "/about" ? "active" : ""}>
          <a href="/about">About</a>
        </span>
        <span class={currentPath.startsWith("/blog") ? "active" : ""}>
          <a href="/blog">Blog</a>
        </span>
        <span class={currentPath === "/archives" ? "active" : ""}>
          <a href="/archives">Archives</a>
        </span>
        <span class={currentPath === "/search" ? "active" : ""}>
          <a href="/search">Search</a>
        </span>
        <button id="toggle-theme" aria-label="Toggle theme">11</button>
      </div>
    </div>
  </nav>
</header>
