---
export interface Props {
  headings?: Array<{
    depth: number;
    text: string;
    slug: string;
  }>;
}

const { headings = [] } = Astro.props;

const tocHeadings = headings.filter(h => h.depth >= 2 && h.depth <= 3);
---

{tocHeadings.length > 0 && (
  <nav id="TableOfContents">
    <ul>
      {tocHeadings.map((heading) => (
        <li style={`margin-left: ${(heading.depth - 2) * 2}em`}>
          <a href={`#${heading.slug}`}>{heading.text}</a>
        </li>
      ))}
    </ul>
  </nav>
)}